.chat-entry {
  background: #fff;
  border-radius: 12px;
}

.message-bubble {
  border-radius: 12px;
  padding: 9px;
  background-color: mix(@window_bg_color, @window_fg_color, .05);
}

.message-bubble-user {
}

.message-bubble-assistant {
  background-image: linear-gradient(45deg, #8DF1CD50, #8DF1CD30);
}

.timestamp {
  font-size: 9pt;
}

.message-list {
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
}

.main-box {
  background-color: #D2FAEB;
}

.card {
  padding: 8px 12px;
  background-color: @theme_bg_color;
  border-radius: 6px;
}
